$search-button-width: 100px
$search-button-margin-left: 20px

aside.sidebar
  display: none

form.search
  +no-float
  position: relative
  padding-right: $search-button-width + $search-button-margin-left
  #search_text_field
    +float-left
    +border-radius(3px)
    +base-font-stack
    font-size: 22px
    padding: 6px
    width: 100%
    +placeholder
      color: rgba($background-color, 0.6)
  input.button
    +button-large
    position: absolute
    right: 0
    width: $search-button-width

  +tablet-landscape-and-below
    padding-right: 0
    input.button
      width: 100%
      position: relative

.status-bar
  display: none

ul.conversation
  +reset-list
  > li
    padding: 25px 0
    +no-float
    +horizontal-line(bottom, 5%, rgba($text-color, 0.2), transparent)
    &:last-child
      background: none
    aside
      +float-left
      width: 25%
      .avatar
        width: 70px
        height: 70px
        +border-radius(4px)
      ul.meta
        > li
          padding: 0
          &.name
            color: $foreground-color
          &.timestamp
            +faint
    article
      +float-right
      width: 75%

    +tablet-landscape-and-below
      aside
        +no-float
        width: 100%
        margin-bottom: 10px
        .avatar
          +float-left
          width: 40px
          height: 40px
          margin-right: 10px
        .meta
          +float-left
          margin-top: 10px
          max-width: 260px
          > li
            +float-left
            margin-right: 10px

      article
        +no-float
        width: 100%