@mixin no-float
  display: block
  float: none
  overflow: hidden

@mixin float-left
  display: block
  float: left

@mixin float-right
  display: block
  float: right

@mixin tablet
  @media (max-width: $tablet-threshold)
    @content

@mixin mobile
  @media (max-width: $mobile-threshold)
    @content

@mixin iconic($size:32px)
  font:
    family: heroku
    weight: normal
    size: $size
  line-height: $size
  font-weight: normal
  -webkit-font-feature-settings: "liga","dlig"
  -moz-font-feature-settings: "liga=1, dlig=1"
  -moz-font-feature-settings: "liga","dlig"
  -ms-font-feature-settings: "liga","dlig"
  -o-font-feature-settings: "liga","dlig"
  font-feature-settings: "liga","dlig"
  text-rendering: optimizeLegibility