// Color-only configuration, please
// All other config should live in enso/partials/_config.sass

$heading-color: rgb(110, 91, 170)
$background-color: rgb(255, 255, 255)
$foreground-color: black
$text-color: rgb(45, 45, 45)
$link-color: $heading-color
$code-text-color: $text-color
$faint-text-color: #999
$faint-background-color: rgb(240, 240, 240)
$faint-border-color: rgb(238, 238, 238)

$notice-background-color: rgb(255, 247, 216)
$notice-border-color: rgb(245, 227, 196)
$notice-text-color: rgb(127, 107, 46)

$call-to-action-background-color: rgba($heading-color, 0.3)
$call-to-action-border-color: rgba($heading-color, 0.4)
$call-to-action-text-color: rgba($heading-color, 1)