// Dimensions
//---------------------------------------------------------------------------------

$content-max-width: 640px
$post-title-max-width: 400px
$title-margin-right: 100px
$tablet-threshold: $content-max-width + $post-title-max-width + $title-margin-right
$mobile-threshold: 480px // easier for desktop testing

// Theme
//---------------------------------------------------------------------------------

$main-color: white
$background-color: #1A1B23
$text-color: #797B89
$link-color: $main-color
$code-text-color: $text-color
$faint-text-color: #999
$faint-background-color: #23252B
$faint-border-color: #626772

$notice-background-color: rgb(255, 247, 216)
$notice-border-color: rgb(245, 227, 196)
$notice-text-color: rgb(127, 107, 46)

$call-to-action-background-color: rgba($main-color, 0.3)
$call-to-action-border-color: rgba($main-color, 0.4)
$call-to-action-text-color: rgba($main-color, 1)

// Fuji Header
//---------------------------------------------------------------------------------

$fuji-foreground-color: $link-color
$fuji-background-color: $background-color
$fuji-max-width: $tablet-threshold
$fuji-logo-text-color: rgba($main-color, 0.7)
$fuji-logo-subtext-color: rgba($main-color, 0.4)
$fuji-link-color-inactive: rgba($link-color, 0.8)
$fuji-link-color-active: $background-color
$fuji-link-background-color-inactive: $background-color
$fuji-link-background-color-active: $link-color
$fuji-base-font-size: 14px