// Color-only configuration, please
// All other config should live in enso/partials/_config.sass

$main-color: #C9C3E6
$background-color: #1A1B23
$text-color: #797B89
$link-color: #58488A
$code-text-color: $text-color
$faint-text-color: #999
$faint-background-color: #23252B
$faint-border-color: #626772

$notice-background-color: rgb(255, 247, 216)
$notice-border-color: rgb(245, 227, 196)
$notice-text-color: rgb(127, 107, 46)

$call-to-action-background-color: rgba($main-color, 0.3)
$call-to-action-border-color: rgba($main-color, 0.4)
$call-to-action-text-color: rgba($main-color, 1)